body {
  background-image:url("https://img.freepik.com/free-vector/blue-3d-particles-background-design_1017-15410.jpg?w=900&t=st=1679899872~exp=1679900472~hmac=790ac5418682179a75cd966b03ddb57cb0a6fe21b0f014166709f1d9ca709917") ;
  background-repeat: no-repeat;
  background-size:cover;
  font-family: Arial, sans-serif;
}

.container {
  margin: 50px auto;
  width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #aaa;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.col {
  flex-basis: 48%;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  text-align: ;
  margin-bottom: 10px;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0069d9;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #5a6268;
}